:root {
    /* Variables */
    --spaceLyt: 10px;
    --tightSpaceLyt: calc(var(--spaceLyt) / 2);
    --looseSpaceLyt: calc(var(--spaceLyt) * 3);
    /* Palette */
    --black: rgb(50, 50, 50);
    --white: rgb(245, 245, 245);
    --whiteHvr: rgb(200, 200, 200);
    --grey: rgb(91, 91, 91);
    --greyHvr: rgb(130, 130, 130);
    --red: rgb(211, 47, 47);
    --redHvr: rgb(169, 25, 25);
    --blue: rgb(0, 150, 220);
    --blueHvr: rgb(0, 75, 140);
    --green: rgb(76, 175, 80);
    --greenHvr: rgb(54, 127, 58);
    --gold: rgb(225, 168, 61);
    --goldHvr: rgb(171, 123, 47);
}
@media (max-width: 700px) {
    :root {
        font-size: 14px;
    }
}

*[hidden] {
    display: none !important;
}

button {
    border: none;
    border-radius: var(--tightSpaceLyt);
    cursor: pointer;
}

input {
    font-size: 1rem;
    color: var(--sectionColor);
    border: none;
    background: none;
    width: 100%;
    height: 85%;
    align-self: center;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*>--------------- { Popup } ---------------<*/
#popupInfo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 5vh 10vw;
    box-sizing: border-box;
    background-color: rgb(65, 65, 65, .65);
    animation: fade-in .3s ease forwards;
    gap: var(--spaceLyt);
    z-index: 2000;
}

#popupInfo > textarea {
    position: absolute;
    top: 0;
    width: 90%;
    height: 15%;
    margin-block: var(--looseSpaceLyt);
    padding: var(--tightSpaceLyt);
    background-color: var(--white);
    box-sizing: border-box;
    resize: horizontal;
}

#popupInfo > section {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-rows: min-content;
    grid-template-columns: 1fr min-content;
    gap: var(--tightSpaceLyt);
    width: 100%;
    box-sizing: border-box;
    background-color: var(--sectionColor);
    padding: var(--spaceLyt);
    padding-top: var(--tightSpaceLyt);
    border-radius: var(--spaceLyt);
    animation: zoom-in .3s ease forwards;
}

#popupInfo section > h1 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
}
#popupInfo section > h2 {
    text-align: right;
    font-size: 1.2rem !important;
}

#popupInfo section > span {
    grid-column: 1/-1;
    width: 100%;
    padding: var(--spaceLyt);
    box-sizing: border-box;
    word-wrap: break-word;
    text-align: justify;
    background-color: var(--white);
    border-radius: var(--spaceLyt);
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 1rem;
}
    #popupInfo span > h1 { /*TODO*/
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    #popupInfo span > h2 { /*TODO*/
        font-size: 1.25rem;
        margin-bottom: .75rem;
    }
    #popupInfo span > p { /*TODO*/
        margin: .5rem 0;
    }
    #popupInfo span > code { /*TODO*/
        background-color: #eee;
        padding: .12rem .25rem;
        border-radius: .78rem;
    }
    #popupInfo span > pre { /*TODO*/
        background-color: #eee;
        padding: .62rem;
        border-radius: 5px;
        overflow-x: auto;
    }
    #popupInfo span > a { /*TODO*/
        color: var(--blue);
        text-decoration: underline;
    }

/*>--------------- { Dropdown } ---------------<*/
#dropdownIcon {
    position: absolute;
    width: calc(100vw - (15px * 2)); /*width - margin*/
    align-self: center;
    margin-block: var(--tightSpaceLyt);
    border: 1px solid var(--black);
    border-radius: var(--tightSpaceLyt);
    background-color: var(--white);
    overflow: hidden;
    box-sizing: border-box;
    z-index: 500;
}

    #dropdownIcon > input[type="text"] {
        padding: var(--tightSpaceLyt);
        border: none;
        border-bottom: 1px solid var(--grey);
        color: var(--black);
        box-sizing: border-box;
        background: var(--white);
    }

    #dropdownIcon > span {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(auto-fill, minmax(3.45rem, 1fr));
        gap: var(--spaceLyt);
        padding: var(--spaceLyt);
        font-size: .85rem;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 25vh;
    }

        #dropdownIcon > span figure:hover {
            outline: 2px solid var(--whiteHvr);
        }

        #dropdownIcon > span iconify-icon {
            width: 100%;
            aspect-ratio: 1 / 1;
        }

/*>--------------- { Delete Struct } ---------------<*/
#deleteStruct {
    position: absolute;
    width: 20vw;
    height: 4.5vh;
    bottom: var(--looseSpaceLyt);
    background: var(--red);
    color: var(--white);
    border-radius: var(--looseSpaceLyt);
    align-self: center;
    transition: all .3s ease;
    z-index: 900;
}
    #deleteStruct[data-mode="Edit"] {
        bottom: -10vh;
    }
    #deleteStruct::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        transition: background-color .3s ease;
        background-color: currentColor;
        --mask-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5t.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5t-.288.713T19 6v13q0 .825-.587 1.413T17 21zm3-4q.425 0 .713-.288T11 16V9q0-.425-.288-.712T10 8t-.712.288T9 9v7q0 .425.288.713T10 17m4 0q.425 0 .713-.288T15 16V9q0-.425-.288-.712T14 8t-.712.288T13 9v7q0 .425.288.713T14 17'/%3E%3C/svg%3E");
        -webkit-mask-image: var(--mask-url);
        mask-image: var(--mask-url);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: auto 80%;
        mask-size: auto 80%;
    }
    #deleteStruct:has(>.dragStruct) {
        background-color: var(--redHvr);
        width: 30vh;
        height: 7vh;
    }
@media (max-width: 700px) {
    #deleteStruct {
        width: 25vw;
        height: 7vh;
    }
        #deleteStruct:has(>.dragStruct) {
            width: 35vh;
            height: 10vh;
        }
}

/*>--------------- { Banner } ---------------<*/
header {
    display: flex;
    padding: var(--tightSpaceLyt) var(--spaceLyt);
    justify-content: space-between;
    background-color: var(--black);
    z-index: 1000;
}

header > h1 {
    flex: 1;
    align-self: center;
    font-size: 1.9rem;
    color: var(--white);
}

header > button {
    height: 85%;
    align-self: center;
    transition: background-color .3s ease;
    -webkit-mask-image: var(--mask-url);
    mask-image: var(--mask-url);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

#toggleMode {
    margin-inline: var(--tightSpaceLyt);
    padding-inline: var(--spaceLyt);
    font-size: .9rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--green);
}
    #toggleMode:hover {
        background-color: var(--greenHvr);
    }
#toggleMode[data-mode="Reorder"] {
    background-color: var(--gold);
}
    #toggleMode[data-mode="Reorder"]:hover {
        background-color: var(--goldHvr);
    }

#dataUpload {
    aspect-ratio: 1/1;
    background-color: var(--white);
    --mask-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11 14.825V18q0 .425.288.713T12 19t.713-.288T13 18v-3.175l.9.9q.15.15.338.225t.375.063t.362-.088t.325-.225q.275-.3.288-.7t-.288-.7l-2.6-2.6q-.15-.15-.325-.212T12 11.425t-.375.063t-.325.212l-2.6 2.6q-.3.3-.287.7t.312.7q.3.275.7.288t.7-.288zM6 22q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h7.175q.4 0 .763.15t.637.425l4.85 4.85q.275.275.425.638t.15.762V20q0 .825-.587 1.413T18 22zm7-14q0 .425.288.713T14 9h4l-5-5z'/%3E%3C/svg%3E");
}
    #dataUpload:hover {
        background-color: var(--whiteHvr);
    }

#dataDownload {
    aspect-ratio: 1/1;
    background-color: var(--white);
    --mask-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M13 13.15V10q0-.425-.288-.712T12 9t-.712.288T11 10v3.15l-.9-.875Q9.825 12 9.413 12t-.713.3q-.275.275-.275.7t.275.7l2.6 2.6q.3.3.7.3t.7-.3l2.6-2.6q.275-.275.287-.687T15.3 12.3q-.275-.275-.687-.288t-.713.263zM6 22q-.825 0-1.412-.587T4 20V8.825q0-.4.15-.762t.425-.638l4.85-4.85q.275-.275.638-.425t.762-.15H18q.825 0 1.413.588T20 4v16q0 .825-.587 1.413T18 22z'/%3E%3C/svg%3E");
}
    #dataDownload:hover {
        background-color: var(--whiteHvr);
    }

/*>--------------- { Main } ---------------<*/
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spaceLyt);
    padding: var(--spaceLyt);
    overflow-y: auto;
    overflow-x: hidden;
}



/*>--------------- { Animations } ---------------<*/
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoom-in {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}