:root {
    /* Variables */
    --spaceLyt: 10px;
    --tightSpaceLyt: calc(var(--spaceLyt) / 2);
    --looseSpaceLyt: calc(var(--spaceLyt) * 3);
    /* Palette */
    --black: rgb(50, 50, 50);
    --white: rgb(245, 245, 245);
    --whiteHvr: rgb(190, 190, 190);
    --grey: rgb(115, 115, 115);
    --greyHvr: rgb(215, 215, 215);
    --red: rgb(211, 47, 47);
    --redHvr: rgb(169, 25, 25);
    --blue: rgb(0, 150, 220);
    --blueHvr: rgb(0, 75, 140);
    --green: rgb(76, 175, 80);
    --greenHvr: rgb(54, 127, 58);
    --gold: rgb(225, 168, 61);
    --goldHvr: rgb(171, 123, 47);
}
@media (max-width: 700px) {
    :root {
        font-size: 14px;
    }
}

button {
    border: none;
    border-radius: var(--tightSpaceLyt);
    cursor: pointer;
}

article.dynStruct > .article-type,
input {
    font-feature-settings: "lnum";
    color: var(--sectionColor);
    border: none;
    background: none;
    width: 100%;
    align-self: center;
    font-family: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100svw;
    height: 100svh;
    overflow: hidden;
}

/*>--------------- { Popup } ---------------<*/
#popupClear,
#popupInfo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5% 10%;
    box-sizing: border-box;
    background-color: rgb(65, 65, 65, .65);
    animation: fade-in .3s ease forwards;
    gap: var(--spaceLyt);
    z-index: 2000;
}

#popupInfo > textarea {
    position: absolute;
    top: 0;
    width: 90%;
    height: 15%;
    margin-block: var(--looseSpaceLyt);
    padding: var(--tightSpaceLyt);
    background-color: var(--white);
    box-sizing: border-box;
    resize: vertical;
    z-index: 2200;
}

    #popupInfo > section {
        position: relative;
        display: grid;
        align-items: center;
        grid-template-rows: max-content 1fr;
        grid-template-columns: 1fr max-content;
        gap: var(--tightSpaceLyt);
        width: 100%;
        max-height: 100%;
        box-sizing: border-box;
        background-color: var(--sectionColor);
        padding: var(--spaceLyt);
        border-radius: var(--spaceLyt);
        animation: zoom-in .3s ease forwards;
        font-family: Lora, "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
        overflow: hidden;
        z-index: 2100;
    }

#popupInfo section > h1 {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: bold;
}
#popupInfo section > h2 {
    color: var(--white);
    text-align: right;
    font-size: 1.2rem;    
    align-self: end;
}

#popupInfo section > span {
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
    padding: var(--spaceLyt);
    box-sizing: border-box;
    word-wrap: break-word;
    text-align: justify;
    background-color: var(--white);
    border-radius: var(--spaceLyt);
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 1.05rem;
    font-family: "Noto Sans", "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;
}

#popupClear > div {
    position: absolute;
    text-align: center;
    padding: var(--looseSpaceLyt);
    background-color: var(--whiteHvr);
    border-radius: var(--spaceLyt);
    animation: zoom-in .3s ease forwards;
    font-family: "Noto Sans", "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;
}

#popupClear button {
    padding: var(--spaceLyt) var(--looseSpaceLyt);
    margin: var(--looseSpaceLyt);
    margin-bottom: 0;
    font-size: 1.1rem;
    color: var(--white);
    transition: background-color .3s ease;
}

#popupClear button:first-child {
    background-color: var(--red);
}
    #popupClear button:first-child:hover {
        background-color: var(--redHvr);
    }

#popupClear button:last-child {
    background-color: var(--grey);
}
    #popupClear button:last-child:hover {
        background-color: var(--greyHvr);
    }

/*>--------------- { Dropdown } ---------------<*/
#dropdownIcon {
    position: absolute;
    width: calc(100% - (15px * 2)); /*width - margin*/
    align-self: center;
    margin-block: var(--tightSpaceLyt);
    border: 1px solid var(--black);
    border-radius: var(--tightSpaceLyt);
    background-color: var(--white);
    overflow: hidden;
    box-sizing: border-box;
    z-index: 500;
}

    #dropdownIcon > input[type="text"] {
        padding: var(--tightSpaceLyt);
        border: none;
        border-bottom: 1px solid var(--grey);
        color: var(--black);
        box-sizing: border-box;
        background: var(--white);
    }

    #dropdownIcon > span {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(auto-fill, minmax(3.45rem, 1fr));
        grid-auto-rows: max-content;
        gap: var(--spaceLyt);
        padding: var(--spaceLyt);
        font-size: .85rem;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow-y: auto;
        overflow-x: hidden;
        height: 25svh;
    }

        #dropdownIcon > span figure:hover {
            outline: 2px solid var(--whiteHvr);
        }

        #dropdownIcon > span iconify-icon {
            width: 100%;
            aspect-ratio: 1 / 1;
        }

/*>--------------- { Delete Struct } ---------------<*/
#deleteStruct {
    position: absolute;
    width: 20%;
    height: 4.5%;
    bottom: var(--looseSpaceLyt);
    background: var(--red);
    color: var(--white);
    border-radius: var(--looseSpaceLyt);
    align-self: center;
    transition: all .3s ease;
    z-index: 900;
}
    #deleteStruct[data-mode="Edit"] {
        bottom: -10svh;
    }
    #deleteStruct::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        transition: background-color .3s ease;
        background-color: currentColor;
        --mask-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5t.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5t-.288.713T19 6v13q0 .825-.587 1.413T17 21zm3-4q.425 0 .713-.288T11 16V9q0-.425-.288-.712T10 8t-.712.288T9 9v7q0 .425.288.713T10 17m4 0q.425 0 .713-.288T15 16V9q0-.425-.288-.712T14 8t-.712.288T13 9v7q0 .425.288.713T14 17'/%3E%3C/svg%3E");
        -webkit-mask-image: var(--mask-url);
        mask-image: var(--mask-url);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: auto 80%;
        mask-size: auto 80%;
    }
    #deleteStruct:has(>.dragStruct) {
        background-color: var(--redHvr);
        width: 30svw;
        height: 7svh;
    }
@media (max-width: 700px) {
    #deleteStruct {
        width: 25svw;
        height: 7svh;
    }
        #deleteStruct:has(>.dragStruct) {
            width: 35svw;
            height: 10svh;
        }
}

/*>--------------- { Parse Style } ---------------<*/
.parsed-md > * {
    margin-bottom: .4rem;
}
    .parsed-md > *:last-child {
        margin-bottom: 0;
    }

.parsed-md h1 {
    font-size: 1.8rem;
}

.parsed-md blockquote {
    background-color: var(--greyHvr);
    padding-left: .5rem;
    border: 1px solid var(--grey);
    border-left: var(--spaceLyt) solid var(--grey);
    border-radius: var(--tightSpaceLyt);
    margin: .2rem;
}

.parsed-md > blockquote {
    margin-bottom: .5rem;
}

.parsed-md ol,
.parsed-md ul {
    margin-left: 1.2rem;
}

.parsed-md code {
    background-color: var(--greyHvr);
    padding: var(--tightSpaceLyt);
    border-radius: var(--tightSpaceLyt);
}

.parsed-md table {
    border-spacing: 1rem .6rem;
}

.parsed-md hr {
    margin-block: .7rem;
}

/*>--------------- { Banner } ---------------<*/
header {
    display: flex;
    padding: var(--tightSpaceLyt) var(--spaceLyt);
    justify-content: space-between;
    gap: var(--tightSpaceLyt);
    background-color: var(--black);
    z-index: 1000;
}

header > h1 {
    flex: 1;
    align-self: center;
    font-size: 1.9rem;
    color: var(--white);
}

header > button {
    aspect-ratio: 1/1;
    background-color: var(--white);
    align-self: center;
    transition: background-color .3s ease;
    -webkit-mask-image: var(--mask-url);
    mask-image: var(--mask-url);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
}
    header > button:hover {
        background-color: var(--whiteHvr);
    }
header > #toggleMode {
    aspect-ratio: unset;
    height: 85%;
    margin-inline: var(--tightSpaceLyt);
    padding-inline: var(--spaceLyt);
    font-size: .9rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--green);
}
    header > #toggleMode:hover {
        background-color: var(--greenHvr);
    }
header > #toggleMode[data-mode="Reorder"] {
    background-color: var(--gold);
}
    header > #toggleMode[data-mode="Reorder"]:hover {
        background-color: var(--goldHvr);
    }

header > #dataUpload {
    height: 100%;
    --mask-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h5.175q.4 0 .763.15t.637.425L12 6h8q.825 0 1.413.588T22 8v10q0 .825-.587 1.413T20 20zm8-3q.425 0 .713-.288T13 16v-3.2l.9.9q.275.275.7.275t.7-.275t.275-.7t-.275-.7l-2.6-2.6q-.3-.3-.7-.3t-.7.3l-2.6 2.6q-.275.275-.275.7t.275.7t.7.275t.7-.275l.9-.9V16q0 .425.288.713T12 17'/%3E%3C/svg%3E");
}

header > #dataDownload {
    height: 95%;
    --mask-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M15 9H5V5h10m-3 14a3 3 0 0 1-3-3a3 3 0 0 1 3-3a3 3 0 0 1 3 3a3 3 0 0 1-3 3m5-16H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V7z'/%3E%3C/svg%3E");
}

header > #dataClear {
    height: 100%;
    --mask-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5t.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5t-.288.713T19 6v13q0 .825-.587 1.413T17 21zm3-4q.425 0 .713-.288T11 16V9q0-.425-.288-.712T10 8t-.712.288T9 9v7q0 .425.288.713T10 17m4 0q.425 0 .713-.288T15 16V9q0-.425-.288-.712T14 8t-.712.288T13 9v7q0 .425.288.713T14 17'/%3E%3C/svg%3E");
    background-color: var(--red);
}
    header > #dataClear:hover {
        background-color: var(--redHvr);
    }

/*>--------------- { Main } ---------------<*/
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spaceLyt);
    padding: var(--spaceLyt);
    background: var(--white);
    overflow-y: auto;
    overflow-x: hidden;
}



/*>--------------- { Dinamic Class } ---------------<*/
*[hidden] {
    display: none !important;
}



/*>--------------- { Animations } ---------------<*/
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoom-in {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}